.containerCrausel{
    padding-top: 5rem;
    display: flex;
    width: 90%;
    justify-content: center;
    margin-left: 10%;
    color:#fff;
    flex-direction: column;
}

.containerCrausel img {
    border-radius: 10px;
    opacity: 70%;
}

.containerCrausel2{
  
    display: flex;
    width: 75%;
    justify-content: center;
    margin-left: 10%;  
    border-radius: 12px;
    background: #332f23;
    box-shadow:  51px 50px 50px #0b0800, 
                 5px 5px 20px #0d0a00;
}
.containerCrausel2 img {
    border-radius: 10px;
    opacity: 70%;
}

.containerCrausel3{
    padding-top: 0.5%;
    display: flex;
    width: 15%;
    justify-content: center;
    margin-left: 2%;  
}
.containerCrausel3 img {
    border-radius: 10px;
    opacity: 70%;
}
.ukuranImg {
    
    width: 100%;
}

.containerCrauselmain {
display: flex;
justify-content: space-around;
flex-direction: row;
}

.containerCrauselkecil{
padding-top: 6%;

}

.containerCrauselkecilbanget {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    margin-left: -7%;
}